// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


footer {
  width: 100vw;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  padding: 5px;
  font-size: 0.75em;

}
