// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  border: 2px solid $light-grey;
  padding: 3% 5%;
  &:hover {
    background-color: $light-grey;
  }
}
