// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  border: 2px solid $light-grey;
  padding: 4% 8%;
  border-radius: 20px;
  transition: all 200ms;
  &:hover {
    background-color: $light-grey;
    color: $dark-blue;
  }
}
