@charset 'UTF-8';

@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';
@import
  'vendor/normalize';
@import
  'vendor/bourbon/_bourbon.scss';
@import
  'vendor/neat/_neat.scss';
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';
@import
  'layout/header',
  'layout/footer';
@import
  'components/button';
@import
  'pages/home';
@import
  'themes/default';

// Main Content

body {
  background: $dark-grey;
  padding-bottom: 6vh;
}

.container {
  @include outer-container;
  padding: 1vh 0;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.title {
  @include span-columns(12);
  text-align: center;
  font-size: 5em;
  font-style: italic;
  text-shadow: 8px 5px darken($dark-grey, 15%);
}

.box {
  &-large, &-medium, &-wide, &-small {
    padding: 10px;
  }
}

@include set-background(large);
@include set-background(medium);
@include set-background(wide);
@include set-background(small);

.box-large {
  @include span-columns(8);
  position: relative;
  height: 20em;
  @media screen and (max-width: 768px) {
    @include span-columns(12);
  }
  img {
    float: left;
    height: 100%;
    width: 50%;
    object-fit: cover;
    border: 3px solid $light-grey;
  }
  &::after {
    content: "";
    background: url("../img/mtg.jpg");
    background-size: cover;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .box-content {
    float: right;
    height: 100%;
    width: 50%;
    padding: 1.5em 1em;
    text-align: center;
  }
}

.box-medium {
  @include span-columns(4);
  @include omega(2);
  position: relative;
  height: 9.5em;
  &:nth-child(3) {
    margin-top: $vertical-gutter;
  }
  @media screen and (max-width: 768px) {
    @include span-columns(6);
    @include omega-reset(2n);
    margin-top: $vertical-gutter;
  }
  @media screen and (max-width: 570px) {
    @include span-columns(12);
  }
  img {
    float: left;
    height: 100%;
    width: 50%;
    object-fit: cover;
    border: 3px solid $light-grey;
  }
  .box-content {
    float: right;
    height: 100%;
    width: 50%;
    padding: 0.25em;
    text-align: center;
  }
}

.box-wide {
  @include span-columns(4);
  height: 7em;
  position: relative;
  margin-top: $vertical-gutter;
  @media screen and (max-width: 570px) {
    @include span-columns(12);
  }
  img {
    float: left;
    height: 100%;
    width: 50%;
    object-fit: cover;
    border: 3px solid $light-grey;
  }
  .box-content {
    float: right;
    height: 100%;
    padding: 2px;
    width: 50%;
    text-align: center;
  }
}

@each $class in got, lacroix, dog, potter, sanrio {
  .#{$class}::after {
    content: "";
    background: url("../img/#{$class}.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
